<nav aria-label="Page navigation">
  <ul class="inline-flex -space-x-px text-sm">

    <% if pagy.prev %>
      <li>
        <%= link_to pagy.prev, url_for(page: pagy.prev), class:"flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" %>
      </li>
    <% else %>
      <li>
        <span class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-400 bg-white border border-e-0 border-gray-300 rounded-s-lg dark:bg-gray-800 dark:border-gray-700">
          <%= t('todo.previous') %>
        </span>
      </li>
    <% end %>

    <% pagy.series.each do |item| %>
      <% if item.is_a?(Integer) %>
        <li>
          <%= link_to item, url_for(page: item),
            class:"flex items-center justify-center px-3 h-8 leading-tight #{item == pagy.page ? "text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white" : "text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"}"
          %>
        </li>
      <% else %>
        <li>
          <span class="flex items-center justify-center px-3 h-8 text-gray-500 bg-white border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400">
            <%= item %>
          </span>
        </li>
      <% end %>
    <% end %>

    <% if pagy.next %>
      <li>
        <%= link_to pagy.next, url_for(page: pagy.next),
          class:"flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" %>
      </li>
    <% else %>
      <li>
        <span class="flex items-center justify-center px-3 h-8 leading-tight text-gray-400 bg-white border border-gray-300 rounded-e-lg dark:bg-gray-800 dark:border-gray-700">
           <%= t('todo.next') %>
        </span>
      </li>
    <% end %>

  </ul>
</nav>
