<div class='flex flex-row justify-end items-center px-5 gap-5'>
    <p> <%= t('todo.welcome')%>, <%= current_user.name%> !</p>
    <%= link_to t('todo.tasksList'), tasks_path, class: 'inline-block px-8 py-2 bg-[#96a78d] text-white rounded-lg border border-black'%>
    <%= button_to User.human_attribute_name(:logout), logout_path, method: :delete, class: 'inline-block px-8 py-2 bg-[#96a78d] text-white rounded-lg border border-black'%>
    <div>
        <%= link_to t('todo.language_switch'), url_for(locale: I18n.locale == :zh ? :en : :zh), class: 'inline-block px-8 py-2 bg-[#96a78d] text-white rounded-lg border border-black'%>
    </div>
</div>

<div class='flex flex-col items-start px-40'>
    <div class='py-10 text-5xl'>
        <%=t('todo.adminTitle')%>
    </div>
    
    <%= link_to new_admin_path, class:'bg-[#d9e9cf] rounded-lg px-8 py-2 my-5 border border-gray-500' do %>
        <%= t('todo.addUser')%>
    <% end %>

    <div class='rounded-lg bg-[#d9e9cf] border border-gray-500 w-full h-96'>
        <table class='users-list w-full rounded-lg text-center'>
            <thead>
                <tr class='table w-full table-fixed'>
                    <% [:name, :email, :role, :create_time, :task_num].each do |attr| %>
                        <th class='px-10 py-3'><%= User.human_attribute_name(attr)%></th>
                    <% end %>
                </tr>
            </thead>
            <tr class='border-t border-gray-500'></tr>
            <tbody class='block h-83 overflow-y-auto rounded-b-lg'>
                <% @users.each do |user|%>
                    <tr onclick="window.location = '<%= admin_path(user) %>'" class='table w-full table-fixed bg-[#f0f0f0] hover:bg-[#ced4da]'>
                        <td class='px-10 py-3'><%= user.name %></td>
                        <td class='px-10 py-3'><%= user.email %></td>
                        <% if user.manager %>
                          <td class='px-10 py-3'><%= User.human_attribute_name(:admin) %></td>
                        <% else %>
                          <td class='px-10 py-3'><%= User.human_attribute_name(:user) %></td>
                        <% end %>
                        <td class='px-10 py-3'><%= user.created_at.strftime("%Y-%m-%d") %></td>
                        <td class='px-10 py-3'><%= user.tasks_count %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

</div>