<div class='flex flex-row justify-end items-center px-5 gap-5'>
    <p> <%= t('todo.welcome')%>, <%= current_user.name%> !</p>
    <%= link_to "User Manager", admin_index_path, class: 'inline-block px-8 py-2 bg-[#96a78d] text-white rounded-lg border border-black'%>
    <%= button_to User.human_attribute_name(:logout), logout_path, method: :delete, class: 'inline-block px-8 py-2 bg-[#96a78d] text-white rounded-lg border border-black'%>
    <div>
        <%= link_to t('todo.language_switch'), url_for(locale: I18n.locale == :zh ? :en : :zh), class: 'inline-block px-8 py-2 bg-[#96a78d] text-white rounded-lg border border-black'%>
    </div>
</div>
<div class='flex flex-col items-start px-40'>
    <div class='py-10 text-5xl'>
        <%= t('todo.newUser')%>
    </div>

    <%= render "form", user:@user, type:"create"%>
</div>