<div class='flex flex-row justify-end items-center px-5 gap-5'>
    <% if logged_in? %>
        <p> <%= t('todo.welcome')%>, <%= current_user.name%> !</p>
        <%= button_to User.human_attribute_name(:logout), logout_path, method: :delete, class: 'inline-block px-8 py-2 bg-[#96a78d] text-white rounded-lg border border-black'%>
    <% else %>
        <%= link_to User.human_attribute_name(:login), login_path, class: 'inline-block px-8 py-2 bg-[#96a78d] text-white rounded-lg border border-black'%>
    <% end %>
    <div>
        <%= link_to t('todo.language_switch'), url_for(locale: I18n.locale == :zh ? :en : :zh), class: 'inline-block px-8 py-2 bg-[#96a78d] text-white rounded-lg border border-black'%>
    </div>
</div>

<div class='flex flex-col items-start px-40'>
    <div class='py-10 text-5xl'>
        <%=t('todo.title')%>
    </div>
    
    <%= link_to new_task_path, class:'bg-[#d9e9cf] rounded-lg px-8 py-2 my-5 border border-gray-500' do %>
        <%= t('todo.newTask')%>
    <% end %>

    <div class='flex flex-row justify-between items-center w-full'>
        <%= form_with url: tasks_path, method: :get, local: true do%>
            <div class='flex gap-3 my-5'>
                <%= select_tag :sort, options_for_select(sort_options, session[:sort]), class: 'bg-[#d9e9cf] rounded-lg px-8 py-2 text-center border border-gray-500'%>
                <%= select_tag :direction, options_for_select(direction_options, session[:direction]), class: 'bg-[#d9e9cf] rounded-lg px-8 py-2 text-center border border-gray-500'%>
                <%= submit_tag t("todo.sort"), class: 'bg-[#d9e9cf] rounded-lg px-8 py-2 border border-gray-500'%>
            </div>
        <% end %>
        
        <%= search_form_for @q, url: tasks_path, method: :get, local: true do |f| %>
            <div class='flex gap-3 my-5 items-center'>
                <%= f.label :name_cont, Task.human_attribute_name(:name)%>
                <%= f.text_field :name_cont, placeholder: t("todo.searchByName"), class: 'bg-white rounded-lg px-4 py-2 border border-black'%>
                <%= f.label :status_eq, Task.human_attribute_name(:status)%>
                <%= f.select :status_eq, options_for_select(status_options), {include_blank: t("todo.all")}, class: 'bg-[#d9e9cf] rounded-lg px-5 py-2 text-center border border-gray-500'%>
                <%= submit_tag t("todo.search"), class: 'bg-[#d9e9cf] rounded-lg px-8 py-2 border border-gray-500'%>
            </div>
        <% end %>
    </div>

    <div class='rounded-lg bg-[#d9e9cf] border border-gray-500 w-full h-96'>
        <table class=' w-full rounded-lg text-center'>
            <thead>
                <tr class='table w-full table-fixed'>
                    <% [:name, :create_time, :end_time, :status, :priority, :tag].each do |attr| %>
                        <th class='px-10 py-3'><%= Task.human_attribute_name(attr)%></th>
                    <% end %>
                </tr>
            </thead>
            <tr class='border-t border-gray-500'></tr>
            <tbody class='block h-83 overflow-y-auto rounded-b-lg'>
                <% @tasks.each do |task|%>
                    <tr onclick="window.location = '<%= task_path(task) %>'" class='table w-full table-fixed bg-[#f0f0f0] hover:bg-[#ced4da]'>
                        <td class='px-10 py-3'><%= task.name %></td>
                        <td class='px-10 py-3'><%= task.create_time.strftime("%Y-%m-%d") %></td>
                        <td class='px-10 py-3'><%= task.end_time.strftime("%Y-%m-%d") %></td>
                        <td class='px-10 py-3'><%= t(task.status, scope: %i[activerecord attributes task statuses]) %></td>
                        <td class='px-10 py-3'><%= t(task.priority, scope: %i[activerecord attributes task priorities]) %></td>
                        <td class='px-10 py-3'><%= task.tag %></td>
                    </tr>
                <% end %>
            </tbody>
            
        </table>
    </div>
    <div class='flex justify-center items-center w-full mt-4'>
        <%== pagy_nav(@pagy)%>
    </div>

</div>