<%= render "header" %>
<div class='px-40 mt-10 mb-5'>
    <nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
        <a href="<%= tasks_path%>" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
            <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
            </svg>
            <%= t('todo.tasks_list') %>
        </a>
        </li>
        <li aria-current="page">
        <div class="flex items-center">
            <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400"><%= @task.name%></span>
        </div>
        </li>
    </ol>
    </nav>
</div>

<div class='flex flex-col items-center px-40 mt-10 w-full'>
    <div class="p-10 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 w-full">
        <a>
            <h5 class="mb-2 text-4xl font-bold tracking-tigh text-gray-900 dark:text-white py-5"><%= @task.name %></h5>
        </a>
        <p class="mb-3 text-ml font-medium text-gray-900 dark:text-white"><%= Task.human_attribute_name(:create_time) %>: <%= @task.create_time.strftime("%Y-%m-%d") %></p>
        <p class="mb-3 text-ml font-medium text-gray-900 dark:text-white"><%= Task.human_attribute_name(:end_time) %>: <%= @task.end_time.strftime("%Y-%m-%d") %></p>
        <p class="mb-3 text-ml font-medium text-gray-900 dark:text-white"><%= Task.human_attribute_name(:status) %>: <%= @task.status.humanize %></p>
        <p class="mb-3 text-ml font-medium text-gray-900 dark:text-white"><%= Task.human_attribute_name(:priority) %>: <%= @task.priority.humanize %></p>
        <div class='flex flex-row mt-10 gap-4 justify-center'>
            <% if @task.user == current_user%>
                <a href="<%= edit_task_path(@task) %>" class="button">
                    <%= t('todo.edit_task') %>
                </a>
            <% end %>
            <a href="<%= current_user.manager ? admin_users_path : tasks_path %>" class="button">
                <%= t('todo.back') %>
            </a>
            <%= button_to task_path(@task), class:'button', method: :delete do%>
                    <%= t('todo.delete_task') %>
            <% end %>
        </div>
    </div>
</div>