<h1><%= @task.name %></h1>

<p><%=t('todo.detail')%></p>
<p>
    <%= Task.human_attribute_name(:create_time) %> : <%= @task.create_time ? l(@task.create_time) : t('todo.noTime') %><br>
    <%= Task.human_attribute_name(:end_time) %> : <%= @task.end_time ? l(@task.end_time) : t('todo.noTime') %><br>
    <%= Task.human_attribute_name(:status) %> : <%= @task.status.humanize %><br>
    <%= Task.human_attribute_name(:priority) %>: <%= @task.priority.humanize %><br>
    <%= Task.human_attribute_name(:tag) %> : <%= @task.tag %><br>
</p>
<button><%= link_to t('todo.editTask'), edit_task_path(@task) %></button>
<button><%= link_to t('todo.back'), root_path %></button>
<%= button_to t('todo.deleteTask'), task_path(@task), method: :delete%>