<%= render "header" %>
<div class='flex flex-col items-start px-40'>
    <div class='py-10 text-5xl'>
        <%= @task.name %>
    </div>

    <div class='rounded-lg bg-[#d9e9cf] border border-gray-500 w-full p-10 text-xl'>
        <div class='m-5'><%= Task.human_attribute_name(:create_time) %> :  <%= @task.create_time&.strftime("%Y-%m-%d") || t('todo.no_time') %></div>
        <div class='m-5'><%= Task.human_attribute_name(:end_time) %> :  <%= @task.end_time&.strftime("%Y-%m-%d") || t('todo.no_time') %></div>
        <div class='m-5'><%= Task.human_attribute_name(:status) %> : <%= @task.status.humanize %></div>
        <div class='m-5'><%= Task.human_attribute_name(:priority) %>: <%= @task.priority.humanize %></div>
        
        <div class='flex flex-row mt-40 gap-4 justify-end w-full'>
            <% if @task.user == current_user%>
                <%= link_to edit_task_path(@task), class:'bg-[#f0f0f0] rounded-lg px-8 py-2 my-5 border border-gray-500' do%>
                    <%= t('todo.edit_task') %>
                <% end %>
            <% end %>
            <%= link_to current_user.manager ? admin_users_path : tasks_path, class:'bg-[#f0f0f0] rounded-lg px-8 py-2 my-5 border border-gray-500' do%>
                <%= t('todo.back') %>
            <% end %>
            <%= button_to task_path(@task), class:'bg-[#f0f0f0] rounded-lg px-8 py-2 my-5 border border-gray-500', method: :delete do%>
                <%= t('todo.delete_task') %>
            <% end %>
        </div>
    </div>
</div>