<h1><%= @task.name %></h1>

<p><%=t('todo.detail')%></p>
<p>
    <%= t('activerecord.attributes.task.create_time')%> : <%= @task.create_time ? l(@task.create_time) : t('todo.noTime') %><br>
    <%= t('activerecord.attributes.task.end_time')%> : <%= @task.create_time ? l(@task.create_time) : t('todo.noTime') %><br>
    <%= t('activerecord.attributes.task.status')%> : <%= @task.status.humanize %><br>
    <%= t('activerecord.attributes.task.priority')%>: <%= @task.priority.humanize %><br>
    <%= t('activerecord.attributes.task.tag')%> : <%= @task.tag %><br>
</p>
<button><%= link_to t('todo.editTask'), edit_task_path(@task) %></button>
<button><%= link_to t('todo.back'), root_path %></button>
<%= button_to t('todo.deleteTask'), task_path(@task), method: :delete%>